@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/*Rubik*/
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1440px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Pages*/

.page-header {
  background-color: #FFE17F;
  color: #000000;
  width: 1160px;
  margin: 0 auto;
}

.navigation {
  width: 1040px;
  margin: 0;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 150px;
}

.form-container {
  display: flex;
  padding-top: 30px;
}

.search-form {
  width: 517px;
  padding-right: 26px;
}

.navigation-list {
  display: flex;
  margin: 0;
  width: 497px;
  padding: 0;
}

.navigation-item-enter {
  padding-right: 26px;
  min-width: 231px;
}

.navigation-item-exit {
  padding-right: 26px;
  min-width: 231px;
}

.navigation-item-compare {
  padding-right: 36px;
}

.navigation-user-container {
  display: flex;
  padding-top: 30px;
  margin: 0;
  justify-content: space-between;
}

.navigation-user {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 480px;
  justify-content: space-between;
}

.navigation-link {
  color: #000000;
  text-decoration: none;
}

.navigation-link-user {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.main-container {
  flex-grow: 1;
}

.main-wrapper {
  width: 1160px;
  margin: 0 auto;
}

/*Goods*/

.slider-container {
  display: flex;
}

.goods {
  padding-right: 40px;
}

.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.button-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.table-size {
  font-size: 36px;
  color: #000000;
}

.table-description {
  font-size: 16px;
}

.category-item-link {
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.button-delivery {
  line-height: 21px;
  text-transform: uppercase;
  color: #FFE17F;
}

.services {
  display: flex;
  background-color: #F0F0F0;
  min-width: 1440px;
}

.services-container {
  margin: 0 auto;
  width: 1160px;
  display: flex;
}

.services-list {
  margin: 0;
  padding: 0;
  width: 287px;
  margin-right: auto;
}

.services-tabs {
  margin: 0;
  padding: 0;
  margin-right: 63px;
  width: 694px;
}

.delivery {
  width: 452px;
}

.delivery-title {
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
}

/*Tooltip*/

.tooltip {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #000000;
  width: 1160px;
  margin: 0 auto;
  background-color: #F0F0F0;
}

/*Contacts*/

.contacts-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
}

.contacts {
  width: 532px;
}

.contacts-title {
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
}

.contacts-phone {
  color: #444444;
}

/*About us*/

.about-us {
  width: 520px;
}

.about-us-title {
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-us-item {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

/*Newsletter*/

.newsletter {
  background-color: #F0F0F0;
  min-width: 1440px;
  margin-top: 70px;
  padding-bottom: 56px;
}

.newsletter-title {
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.newsletter-text {
  margin-left: auto;
  margin-top: 74px;
  width: 560px;
}

.newsletter-container {
  display: flex;
  margin: 0 auto;
  width: 1160px;
}

.newsletter-form-container {
  display: flex;
  padding: 0;
  margin: 0 auto;
  width: 1160px;
}

.button {
  font-family: Raleway, sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}

/*Page-footer*/

.page-footer {
  background-color: #444444;
  min-width: 1440px;
}

.page-footer-container {
  width: 1160px;
  margin: 0 auto;
}

.footer-contacts-address {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
}

.footer-services-link {
  color: #FFFFFF;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 21px;
}

.footer-contacts-phone {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

/*Inner-page*/

.breadcrumbs-container {
  width: 1160px;
  margin: 0 auto;
}

.inner-title {
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

/*Catalog*/

.catalog-products {
  background-color: #F0F0F0;
  min-width: 1440px;
}

.catalog-products-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.catalog-right-column {
  width: 840px;
}

/*Filter*/

.filter-container {
  width: 320px;
}

.filter-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.button-show {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}

/*Sorting*/

.sort-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-transform: uppercase;
}

.select-control {
  color: #000000;
  font-family: "Rubik", sans-serif;
}

/*Product-list*/
.product-list {
  padding: 0;
  margin: 0;
}
.product-list-container {
  background-color: #FFFFFF;
}

.product-card-link {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.product-card-price {
  line-height: 21px;
}

/*Pagination*/

.pagination-load {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.pagination-prev {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;
}

.pagination-next {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}
