@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/*Rubik*/
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1440px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Pages*/

.page-header {
  background-color: #FFE17F;
  color: #000000;
  width: 1160px;
  margin: 40px auto 0 auto;
}

.navigation {
  width: 1040px;
  margin: 0;
  padding-left: 60px;
  padding-right: 60px;
}

.navigation-main {
  padding-bottom: 150px;
}

.navigation-inner {
  padding-bottom: 36px;
}

.form-container {
  display: flex;
  padding-top: 30px;
}

.search-form {
  width: 517px;
  padding-right: 26px;
}

.navigation-list {
  display: flex;
  margin: 0;
  min-width: 497px;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.navigation-item-enter {
  padding-right: 26px;
  min-width: 230px;
}

.navigation-item-exit {
  min-width: 56px;
  padding-left: 28px;
  padding-right: 26px;
}

.navigation-item-person {
  min-width: 146px;
}

.navigation-item-compare {
  padding-right: 36px;
}

.navigation-user-container {
  display: flex;
  padding-top: 30px;
  margin: 0;
  justify-content: space-between;
}

.navigation-user {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 480px;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
}

.navigation-link {
  color: #000000;
  text-decoration: none;
  padding-top: 5px;
  display: inline-block;
  padding-bottom: 5px;
}

.navigation-link-user {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
}

.main-container {
  flex-grow: 1;
}

.main-wrapper {
  width: 1160px;
  margin: 0 auto;
}

.main-inner {
  padding-top: 35px;
}


/*Goods*/

.slider-container {
  display: flex;
}

.goods {
  margin-top: -150px;
  padding-right: 40px;
}

.slider-hero {
  margin-top: -29px;
}

.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
}

.hero-text {
  margin-top: 29px;
  margin-bottom: 50px;
}

.button-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.table-specifications {
  margin-top: 50px;
}

.table-size {
  font-size: 36px;
  color: #000000;
}

.table-description {
  font-size: 16px;
  padding: 0;
  padding-right: 20px;
  padding-top: 12px;
}

/*Categoties*/

.catalog-category {
  margin-top: 70px;
}

.category-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(6, 160px);
  grid-column-gap: 40px;
}

.category-list-item {
  display: grid;
  grid-template-rows: 160px 60px;
  grid-row-gap: 32px;
  position: relative;
}

.category-list-item::after {
  position: absolute;
  content: " ";
  width: 160px;
  height: 160px;
  background: #FFE17F;
  z-index: -1;
  display: block;
}

.image-category {
  display: block;
  margin: auto auto;
}

.category-item-link {
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.button-delivery {
  line-height: 21px;
  text-transform: uppercase;
  color: #FFE17F;
}

.services {
  display: flex;
  background-color: #F0F0F0;
  min-width: 1440px;
  margin-top: 70px;
  padding: 0;
}

.services-container {
  margin: 0 auto;
  width: 1160px;
  display: flex;
}

.services-list {
  margin: 0;
  padding: 0;
  width: 287px;
  margin-right: auto;
  list-style-type: none;
  padding-top: 64px;
  padding-bottom: 65px;
}

.services-item {
  padding-bottom: 35px;
}

.services-item:last-child {
  padding-bottom: 0;
}

.services-tabs {
  margin: 0;
  padding: 0;
  margin-right: 63px;
  width: 694px;
  padding-top: 73px;
  padding-bottom: 73px;
}

.delivery {
  width: 452px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.delivery-title {
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-bottom: 34px;
}

.delivery-text {
  margin: 0;
  padding: 0;
}

/*Tooltip*/

.tooltip-text {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #000000;
  width: 1160px;
  margin: 0 auto;
  background-color: #F0F0F0;
  text-align: center;
  margin-top: 70px;
  padding-top: 40px;
  padding-bottom: 40px;
}

/*Contacts*/

.contacts-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 70px;
}

.contacts {
  width: 532px;
}

.contacts-title {
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding-top: 47px;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 15px;
}

.contacts-address {
  font-style: normal;
}

.contacts-text {
  margin: 0;
  padding: 0;
  padding-top: 48px;
}

.contacts-phone {
  color: #444444;
}

.contacts-address-text {
  margin: 0;
  padding: 0;
}

.contacts-schedule {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-bottom: 30px;
}

/*About us*/

.about-us {
  width: 520px;
  padding-bottom: 52px;
}

.about-us-title {
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-top: 47px;
  margin-bottom: 48px;
}

.about-us-text {
  margin-bottom: 30px;
}

.about-us-item {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  margin-bottom: 19px;
}

.about-us-list {
  list-style-type: none;
}

/*Newsletter*/

.newsletter {
  background-color: #F0F0F0;
  min-width: 1440px;
  margin-top: 70px;
  padding-bottom: 56px;
}

.newsletter-title {
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-top: 64px;
}

.newsletter-text {
  margin: 0;
  margin-left: auto;
  margin-top: 74px;
  width: 560px;
}

.newsletter-container {
  display: flex;
  margin: 0 auto;
  width: 1160px;
}

.newsletter-form {
  display: flex;
  padding: 0;
  margin: 0 auto;
  width: 1160px;
  padding-top: 144px;
}


.button {
  font-family: Raleway, sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}

.button-link {
  display: block;
  padding: 0;
  margin: 0;
}

/*Page-footer*/

.page-footer {
  background-color: #444444;
  min-width: 1440px;
}

.page-footer-container {
  width: 1160px;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 62px;
  display: grid;
  grid-template-columns: 240px 444px 238px;
  grid-row-gap: 35px;
  grid-column-gap: 119px;
  position: relative;
}

.footer-logo {
  grid-column-start: 1;
  grid-column-end: 4;
}

.footer-contacts-address {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
}

.footer-contacts-address-text {
  padding: 0;
  margin: 0;
}

.page-footer-container::after {
  background-color: #FFC700;
  content: "";
  width: 80px;
  height: 7px;
  position: absolute;
  bottom: 75px;
}

.footer-services-link {
  color: #FFFFFF;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 21px;
}

.footer-services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-contacts-phone {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  justify-self: end;
}

.footer-social {
  grid-column-start: 2;
  grid-column-end: 3;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: center;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.htmlacademy-link {
  justify-self: end;
}

/*Inner-page*/

.breadcrumbs-container {
  width: 1160px;
  margin: 0 auto;
}

.inner-title {
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  margin-right: 36px;
}

/*Catalog*/

.catalog-products {
  background-color: #F0F0F0;
  min-width: 1440px;
  margin-top: 34px;
}

.catalog-products-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.catalog-right-column {
  width: 840px;
}

/*Filter*/

.filter-container {
  width: 320px;
}

.filter-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.button-show {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}

/*Sorting*/

.sort-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.select-control {
  color: #000000;
  font-family: "Rubik", sans-serif;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  padding-left: 40px;
  padding: 25px;
  align-items: center;
}

.sorting-button-container {
  width: 60px;
  height: 30px;
}

/*Product-list*/
.product-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 40px;
  padding-top: 70px;
  padding-left: 40px;
}

.product-list-container {
  background-color: #FFFFFF;
  padding-bottom: 78px;
}

.product-card-link {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.product-card-content {
  display: flex;
  justify-content: space-between;
}

.product-card-title {
  max-width: 226px;
}

.product-card-price {
  line-height: 21px;
  display: inline-block;
  align-self: center;
}

/*Pagination*/

.button.pagination-load {
  border: 3px solid #E5E5E5;
  display: inline-block;
  width: 760px;
  margin: 44px 39px;
}

.pagination-load {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  padding-top: 18px;
  padding-bottom: 18px;
  align-items: center;
  text-align: center;
}

.pagination-container {
  display: flex;
  background: #EBEBEB;
  margin-left: 40px;
  margin-right: 40px;
}

.pagination {
  display: flex;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.pagination-prev {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  opacity: 0.3;
  width: 78px;
  align-self: center;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;
  display: block;
  min-width: 10px;
  padding: 16px;
  opacity: 0.3;
}

.pagination-next {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  width: 78px;
  align-self: center;
  opacity: 1;
}

.pagination-current {
  opacity: 0.6;
}
