@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/*Rubik*/
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1160px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Pages*/

.page-header {
  background-color: #FFE17F;
  color: #000000;
  width: 1160px;
  margin: 14px auto 0 auto;
  position: relative;
  top: 26px;
}

.header-logo {
  position: absolute;
  top: -20px;
  left: 60px;
  display: inline-block;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.header-logo:focus-visible {
  outline: 2px solid #AF4FFF;
}

.navigation {
  width: 1040px;
  margin: 0;
}

.navigation-main {
  padding-bottom: 121px;
}

.navigation-inner {
  padding-bottom: 36px;
}

.form-container {
  display: flex;
  padding-top: 50px;
  padding-left: 60px;
  width: 1040px;
}

.search-form {
  width: 517px;
  margin-right: 26px;
  display: flex;
}

.search-form-label {
  display: flex;
  position: relative;
}

.search-form-field {
  width: 359px;
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  padding-left: 48px;
  background-color: #FFE17F;
  border-radius: 50px 0 0 50px;
  border: 2px solid #000000;
  box-sizing: border-box;
  color: #000000;
  outline: none;
}

.search-form-icon {
  position: absolute;
  left: 16px;
  top: 12px;
}

/*Focus*/
.search-form-label:focus-within::before {
  position: absolute;
  content: "";
  width: 359px;
  height: 40px;
  display: block;
  outline: 2px solid #AF4FFF;
  padding: 5px;
  box-sizing: border-box;
  outline-offset: 2px;
  z-index: 2;
}

/*Placeholder*/
.search-form-field::placeholder {
  color: #000000;
  opacity: 0.3;
}

.search-form-field.field-catalog::placeholder {
  opacity: 0.3;
}

/*Disabled*/
.search-form-field:disabled,
.search-form-field:disabled + .search-form-icon {
  opacity: 0.3;
}

.header-button {
  flex-grow: 1;
  background-color: #FFE17F;
  border-radius: 0 50px 50px 0;
  border: 2px solid #000000;
  outline: none;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  position: relative;
  border-left: transparent;
}

/*Hover*/
.header-button:not([disabled]):hover {
  color: #FFFFFF;
  background: #000000;
}

/*Active*/
.header-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #000000;
}

/*Focus*/
.header-button:focus-visible::after {
  position: absolute;
  content: "";
  width: 158px;
  height: 40px;
  display: block;
  right: -2px;
  top: -2px;
  outline: 2px solid #AF4FFF;
  box-sizing: border-box;
  outline-offset: 3px;
}

/*Disabled*/
.header-button:disabled {
  color: rgba(0, 0, 0, .3);
  border-color: rgba(0, 0, 0, 0.3);
}


.navigation-list {
  display: flex;
  margin: 0;
  min-width: 497px;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.navigation-link.enter {
  min-width: 79px;
  box-sizing: border-box;
  display: inline-block;
}

.navigation-item-enter {
  padding-right: 26px;
  flex-grow: 1;
}

.navigation-link.enter::before {
  background: currentColor;
  mask: url("../images/header/enter.svg") no-repeat center;
  -webkit-mask: url("../images/header/enter.svg") no-repeat center;
  content: "";
  vertical-align: baseline;
  display: inline-block;
  width: 10px;
  height: 12px;
  margin-right: 12px;
}

.navigation-icon {
  padding-right: 11px;
}

/*Hover*/
.navigation-link:hover {
  color: rgba(0, 0, 0, .6);

}

.navigation-link:focus-visible {
  outline: 2px solid rgba(175, 79, 255, 1.0);
}

.navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-item-exit {
  min-width: 56px;
  padding-left: 28px;
  padding-right: 26px;
  box-sizing: border-box;
}

.navigation-link.exit {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-item-person {
  min-width: 140px;
}

.navigation-link.person {
  margin: 0;
  box-sizing: border-box;
  display: inline-block;
}

.navigation-link.person::before {
  background: currentColor;
  mask: url("../images/header/enter.svg") no-repeat center;
  -webkit-mask: url("../images/header/enter.svg") no-repeat center;
  content: "";
  vertical-align: baseline;
  display: inline-block;
  width: 10px;
  height: 12px;
  left: -20px;
  top: 12px;
  margin-right: 12px;
}

.navigation-link.compare {
  margin: 0;
  box-sizing: border-box;
  display: inline-block;
}

.navigation-item-compare {
  width: 109px;
  margin-right: 5px;
}

.navigation-link.compare::before {
  background: currentColor;
  mask: url("../images/header/compare.svg") no-repeat center;
  -webkit-mask: url("../images/header/compare.svg") no-repeat center;
  content: "";
  vertical-align: baseline;
  display: inline-block;
  width: 10px;
  height: 12px;
  top: 12px;
  margin-right: 5px;
}

.navigation-link.basket {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  min-width: 132px;
  position: relative;
  padding-right: 10px;
}

.navigation-link.basket::before {
  background: currentColor;
  mask: url("../images/header/cart.svg") no-repeat center;
  -webkit-mask: url("../images/header/cart.svg") no-repeat center;
  content: "";
  vertical-align: baseline;
  display: inline-block;
  width: 13px;
  height: 21px;
  left: 17px;
  top: 8px;
  position: absolute;
}

.basket-counter {
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  display: block;
  position: relative;
  min-width: 21px;
  z-index: 1;
  margin-top: 3px;
}

.basket-counter::before {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: block;
  left: 0;
  text-align: center;
  align-items: center;
  z-index: -2;
  content: "";
  bottom: 6px;
  position: absolute;
}

.navigation-user-container {
  display: flex;
  padding-top: 30px;
  margin: 0;
  justify-content: space-between;
  padding-left: 60px;
  width: 1040px;
}

.navigation-user {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 480px;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
}

.navigation-user-item {
  position: relative;
}

.navigation-link-user.current::before {
  position: absolute;
  content: " ";
  width: 125px;
  height: 2px;
  background: #000000;
  display: block;
  top: 37px;
}

.navigation-link {
  color: #000000;
  text-decoration: none;
  padding-top: 5px;
  display: inline-block;
  padding-bottom: 5px;
}

.navigation-link-user {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline-block;
  letter-spacing: 0.2em;
  vertical-align: baseline;
}

.navigation-link-user:hover {
  opacity: 0.6;
}

.navigation-link-user:active {
  opacity: 0.3;
}

.navigation-link-user:focus-visible {
  outline: 2px solid #AF4FFF;
  opacity: 1;

}

/*Dropdown-menu*/
.dropdown-menu {
  position: absolute;
  background: #FFE17F;
  z-index: 2;
  margin: 0;
  width: 1160px;
  top: 53px;
  left: -60px;
  display: none;
}

.dropdown-wrapper {
  display: flex;
  width: 293px;
  justify-content: space-between;
  position: relative;
}

.navigation-link-user.catalog {
  position: relative;
  width: 100%;
  z-index: 3;
}

.navigation-link-user.catalog::before {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  color: #000000;
  content: "";
  background: url("../images/header/header-plus.svg") #FFE17F no-repeat center;
  outline: 2px solid #000000;
  border-radius: 50%;
  right: 0;
  opacity: 0.3;
}

.dropdown-wrapper:focus-within .navigation-link-user.catalog:focus-within::before {
  background: url("../images/header/header-minus.svg") #FFE17F no-repeat center;
  opacity: 1;
}

.dropdown-wrapper:focus-within .dropdown-menu {
  display: block;
}

.navigation-link-user.catalog:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 4px;
}

.dropdown-menu-list {
  display: grid;
  grid-template-columns: 252px 211px 636px;
  grid-auto-flow: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 52px;
  row-gap: 15px;
  padding-left: 60px;
  padding-right: 60px;
}

.dropdown-menu-item {
  font-size: 16px;
  line-height: 18px;
}

.dropdown-menu-item:hover {
  opacity: 0.6;
}

.dropdown-menu-item:active {
  opacity: 0.3;
}

.dropdown-menu-item-link:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 3px;
}

.dropdown-menu-item.item-1 {
  grid-column: 1;
}

.dropdown-menu-item.item-2 {
  grid-column: 2;
}

.dropdown-menu-item.item-3 {
  grid-column: 3;
}

.dropdown-menu-item-link {
  color: #000000;
  text-decoration: none;
}

.dropdown-menu-item-link.current::after {
  position: absolute;
  content: " ";
  width: 166px;
  height: 1px;
  background: #000000;
  display: block;
}

.main-container {
  flex-grow: 1;
}

.main-inner {
  padding-top: 35px;
  margin-top: 26px;
}

/*Goods*/

.slide {
  display: flex;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
  opacity: 0;
}

.slide.current {
  opacity: 1;
  z-index: 1;
}

.slide:not(.current) .details {
  visibility: hidden;
}

.slide-figure {
  padding-right: 40px;
  margin-top: -124px;
}

.slider-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  counter-reset: my-counter;
  position: relative;
}

.slider-button {
  width: 20px;
  height: 60px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  cursor: pointer;
  background-image: url("../images/slider/slider-arrow-right.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.slider-prev {
  transform: rotate(180deg);
}

/*Hover*/
.slider-button:hover {
  opacity: 0.6;
}

/*Focus*/
.slider-button:focus-visible {
  outline: 2px solid #AF4FFF;
}

/*Active*/
.slider-button:active {
  opacity: 0.3;
}

.slider-controls {
  position: absolute;
  top: 50%;
  width: 530px;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  transform: translateY(-220%);
  z-index: 1;
}

.slide-image {
  display: block;
}

.slide-hero::before {
  position: absolute;
  top: -40px;
  right: 49px;
  counter-increment: my-counter;
  content: counter(my-counter, decimal-leading-zero);
  font-size: 180px;
  line-height: 30px;
  font-weight: 700;
  color: #FFFFFF;
  width: 250px;
  height: 135px;
}

.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  position: relative;
  z-index: 1;
}

.hero-text {
  margin-top: 26px;
  margin-bottom: 50px;
}

.table-specifications {
  margin-top: 50px;
}

.table-size {
  font-size: 36px;
  color: #000000;
}

.table-description {
  font-size: 16px;
  padding: 12px 20px 0 0;
}

/*Slider-pagination*/
.slider-pagination {
  margin: -26px 0 0 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.slider-pagination-item:not(:last-child) {
  justify-content: space-between;
  margin: 0;
  margin-right: 20px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
  border: 2px solid #000000;
  background: #FFFFFF;
  position: relative;
}

.slider-pagination-button-current {
  background-color: #000000;
}

/*Hover*/
.slider-pagination-button:hover,
.slider-pagination-button-current:hover {
  opacity: 0.6;
}

/*Focus*/
.slider-pagination-button:focus-visible::after {
  outline: 2px solid #AF4FFF;
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: -4px;
  left: -4px;
}

/*Active*/
.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-pagination-button-current:active {
  opacity: 0.3;
}

/*Categories*/
.catalog-category {
  width: 1160px;
  margin: 0 auto;
  margin-top: 70px;
}

.category-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(6, 160px);
  grid-column-gap: 40px;
}

.category-list-item {
  position: relative;
}

.category-item-link::after {
  position: absolute;
  content: " ";
  width: 160px;
  height: 160px;
  background: #FFE17F var(--bgi) no-repeat center;
  z-index: -2;
  display: block;
}

.category-item-link:hover::after {
  background: #FFC700 var(--bgi) no-repeat center;
  z-index: -2;
}

.category-item-link:active::after {
  background: #FFE17F var(--bgi) no-repeat center;
}


.category-item-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.category-item-link {
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  display: grid;
  grid-template-rows: 160px 60px;
  grid-row-gap: 32px;
}

.category-item-description {
  grid-area: 2/2;
}

.services {
  display: flex;
  background-color: #F0F0F0;
  min-width: 1440px;
  margin-top: 172px;
  padding: 0;
}

/*Services*/
.services-container {
  margin: 0 auto;
  width: 1160px;
  display: flex;
  position: relative;
  top: -106px;
}

.services-container::after {
  width: 7px;
  height: 319px;
  position: absolute;
  content: " ";
  left: 280px;
  background: #000000;
}

.services-list {
  margin: 0;
  margin-right: auto;
  padding: 64px 0 65px 0;
  width: 287px;
  list-style-type: none;
}

.services-item {
  padding-bottom: 35px;
}

.services-item:last-child {
  padding-bottom: 0;
}

.services-tabs {
  margin: 0;
  margin-right: 63px;
  padding: 77px 0;
  width: 694px;
  display: flex;
  justify-content: space-between;
}

.tabs-list-item {
  width: 452px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
}

.tabs-list-item.current {
  display: block;
}

.tabs-list-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-bottom: 34px;
}

.tabs-list-text {
  margin: 0;
  padding: 0;
}

.tabs-list-item::after {
  content: " ";
  bottom: 78px;
  right: 63px;
  position: absolute;
}

.tabs-list-item.delivery::after {
  background: url(../images/delivery.svg);
  width: 136px;
  height: 164px;
}

.tabs-list-item.warranty::after {
  background: url(../images/warranty.svg);
  width: 171px;
  height: 195px;
}

.tabs-list-item.credit::after {
  background: url(../images/credit.svg);
  width: 156px;
  height: 188px;
}

/*Tooltip*/

.tooltip-text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 40px auto;
  letter-spacing: 0.2em;
  padding-left: 125px;
}

.tooltip {
  margin: 0 auto;
  margin-top: 70px;
  width: 1160px;
  display: flex;
}

.tooltip-link {
  text-decoration: none;
  margin: 0 auto;
  position: relative;
  width: inherit;
  background-color: #F0F0F0;
  display: flex;
}

.tooltip:active {
  opacity: 0.3;
}

.tooltip-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.tooltip-link::before {
  position: absolute;
  content: "";
  background: url("../images/track.svg") no-repeat #FFE17F center;
  width: 125px;
  left: 0;
  height: 100px;
  display: block;
}

.tooltip-link:hover::before {
  background: url("../images/track.svg") no-repeat #FFC700 center;
}

.tooltip-icon {
  width: 3px;
  height: 12px;
  display: block;
  padding: 14px 18px;
  background: rgba(220, 220, 220, 0.5) 30px 40px no-repeat;
  border-radius: 50%;
  color: rgba(0, 0, 0, .3);
  border: none;
  margin: 30px 42px;
}

.tooltip-link:hover .tooltip-icon{
  color: rgba(0, 0, 0, 1.0);
}

/*Contacts*/

.contacts-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  margin-top: 70px;
  justify-content: space-between;
}

.contacts {
  width: 532px;
}

.contacts::before {
  content: " ";
  width: 84px;
  height: 7px;
  background: #000000;
  display: block;
}

.contacts-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding-top: 47px;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  padding: 30px 0 15px 0;
}

.contacts-address {
  font-style: normal;
}

.contacts-text {
  margin: 0;
  padding: 0;
  padding-top: 48px;
}

.contacts-phone {
  color: #444444;
}

.contacts-address-text {
  margin: 0;
  padding: 0;
}

.contacts-schedule {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  list-style-type: none;
}

/*About us*/

.about-us {
  width: 520px;
  padding-bottom: 52px;
}

.about-us::before {
  content: " ";
  width: 84px;
  height: 7px;
  background: #000000;
  display: block;
}

.about-us-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 47px 0 48px 0;
  padding: 0;
}

.about-us-text {
  margin-bottom: 30px;
}

.about-us-item {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  margin-bottom: 19px;
  padding-top: 5px;
}

.about-us-list {
  list-style-type: none;
}

.about-us-item::after {
  content: " ";
  width: 8px;
  height: 8px;
  background: #FFC700;
  display: block;
  border-radius: 50%;
  right: 26px;
  position: relative;
  bottom: 17px;
}

/*Newsletter*/

.newsletter {
  background-color: #F0F0F0;
  min-width: 1440px;
  margin-top: 70px;
  padding-bottom: 56px;
}

.newsletter-title {
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-top: 64px;
}

.newsletter-text {
  margin: 0;
  margin-left: auto;
  margin-top: 74px;
  width: 560px;
}

.newsletter-container {
  display: flex;
  margin: 0 auto;
  width: 1160px;
}

.newsletter-form {
  display: flex;
  padding: 0;
  padding-top: 144px;
  margin: 0 auto;
  width: 1160px;
  position: relative;
}

.newsletter-field {
  width: 557px;
  border: none;
  background-color: #FFFFFF;
  box-sizing: border-box;
  padding-top: 11px;
  padding-bottom: 14px;
  padding-left: 16px;
  color: #444444;
  border-bottom: #C4C4C4 solid 3px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

/*Placeholder*/
.newsletter-field::placeholder {
  color: #444444;
  opacity: 0.5;
  font-family: "Rubik", sans-serif;
}

/*Focus*/
.newsletter-field:focus-visible {
  background: #DCDCDC;
  outline: none;
}

/*Invalid*/
.newsletter-field:invalid {
  border-bottom: #FF3D3D solid 3px;
}

/*Disabled*/
.newsletter-field:disabled {
  color: rgba(68, 68, 68, 0.5);
}

.newsletter-field:disabled {
  border-bottom: rgba(196, 196, 196, 0.5) solid 3px;
}

.newsletter-button {
  width: 253px;
  letter-spacing: 0.2em;
  border: 3px solid #C4C4C4;
}

.newsletter-button:hover {
  color: rgba(255, 255, 255);
  background: #000000;
  border: 3px solid #000000;
}

.newsletter-button:active {
  color: rgba(255, 255, 255, .3);
  background: #000000;
  border: 3px solid #000000;
}

.newsletter-button:focus-visible {
  outline: 3px solid #C4C4C4;
  outline-offset: 2px;
}

.newsletter-form-text {
  flex-grow: 1;
  text-align: end;
  position: relative;
}

.newsletter-form-text::before {
  position: absolute;
  content: "";
  background: url("../images/tick-big-1.svg") no-repeat center;
  width: 14px;
  height: 14px;
  right: 158px;
  top: 7px;
}

.button {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-size: 18px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  justify-content: center;
  width: 220px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.2em;
}

.button.feedback {
  width: 257px;
}

.button:focus-visible {
  outline: 2px solid #AF4FFF;
}

.button::after {
  background: #FFE17F;
  position: absolute;
  top: 50%;
  content: " ";
  width: 100%;
  height: 8px;
  left: 0;
  z-index: -1;
  transform: translateY(-50%);
}

.button:hover::after {
  height: 100%;
}

.button:active::after {
  background: #FFCC33;
  height: 100%;
}

.button-link {
  text-decoration: none;
  display: block;
  padding: 11px;
  margin: 0;
  z-index: 0;
}

.services-button {
  width: 153px;
}

.services-button.active {
  color: #FFE17F;
  width: 160px;
}

.services-button.active:hover {
  width: 74%;
}

.services-button.active:active {
  width: 74%;
}

.services-button.active:focus-visible {
  width: 74%;
}

.services-button.active::after {
  position: absolute;
  content: " ";
  width: 280px;
  height: 100%;
  left: 0;
  z-index: -1;
  background: #000000;
}

/*Page-footer*/

.page-footer {
  background-color: #444444;
  min-width: 1440px;
}

.page-footer-container {
  width: 1160px;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 62px;
  display: grid;
  grid-template-columns: 240px 444px 238px;
  grid-row-gap: 35px;
  grid-column-gap: 119px;
}

.footer-logo {
  grid-column-start: 1;
  grid-column-end: 4;
  justify-self: start;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:focus-visible {
  outline: 2px solid #AF4FFF;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-contacts-address {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
}

.footer-contacts-address-text {
  padding: 0;
  margin: 0;
}

.page-footer-container::after {
  background-color: #FFC700;
  content: "";
  width: 80px;
  height: 7px;
  grid-row-start: 3;
  margin-top: 34px;
}

.footer-services-link {
  color: #FFFFFF;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.2em;
}

.footer-services-link:hover {
  color: #FFC700;
  text-decoration: underline;
}

.footer-services-link:active {
  opacity: 0.3;
  text-decoration: underline;
}

.footer-services-link:focus-visible {
  outline: 2px solid #AF4FFF;
  text-decoration: none;
}

.footer-services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-contacts-phone {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  justify-self: end;
  padding: 0;
  align-self: baseline;
}

.footer-contacts-phone:hover {
  color: #FFC700;
}

.footer-contacts-phone:active {
  opacity: 0.3;
}

.footer-contacts-phone:focus-visible {
  outline: 2px solid #AF4FFF;
}

.footer-social {
  grid-column-start: 2;
  grid-column-end: 3;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: center;
  margin-top: 27px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  position: relative;
}

.footer-social-item:hover {
  background: #FFC700;
}

.footer-social-item:active .footer-social-link {
  opacity: 0.3;
}

.footer-social-link {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 30%;
  left: 30%;
  outline: none;
}

.footer-social-link:focus-visible::after {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: -12px;
  left: -12px;
}

.footer-social-tw {
  background-image: url("../images/twitter.svg");
}

.footer-social-youtube {
  background-image: url("../images/youtube.svg");
}

.footer-social-telegram {
  background-image: url("../images/telegram.svg");
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.htmlacademy-link::before {
  width: 115px;
  height: 33px;
  background: #FFC700;
  -webkit-mask: url("../images/htmlacademy-icon.svg") no-repeat;
  mask: url("../images/htmlacademy-icon.svg") no-repeat;
  content: "";
  display: inline-block;
}

.htmlacademy-link:hover::before {
  background-color: #FFFFFF;
}

.htmlacademy-link:active {
  opacity: 0.3;
}

.htmlacademy-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.htmlacademy-link {
  width: 115px;
  height: 33px;
  justify-self: end;
  margin-top: 27px;
}

/*Inner-page*/

.breadcrumbs-container {
  width: 1160px;
  margin: 0 auto;
}

.inner-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.breadcrumbs-item {
  margin-right: 36px;
  position: relative;
}

.breadcrumbs-item:hover {
  opacity: 0.6;
}

.breadcrumbs-item:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus-visible {
  outline: 2px solid #AF4FFF;

}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  width: 4px;
  height: 7px;
  content: "";
  background: url("../images/breadcrumbs-arrow.svg") no-repeat center;
  top: 13px;
  right: -18px;
}

/*Catalog*/

.catalog-products {
  background-color: rgba(240, 240, 240, 1);
  margin-top: 34px;
}

.catalog-products-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.catalog-right-column {
  width: 840px;
}

/*Filter*/

.filter-container {
  width: 320px;
  padding-left: 60px;
  padding-right: 40px;
  line-height: 20px;
}

.filter-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
}

.catalog-filter-group {
  margin: 0;
  margin-top: 35px;
  padding: 0;
  border: none;
  position: relative;
}

.catalog-filter-group-title::before {
  position: absolute;
  content: "";
  width: 200px;
  height: 2px;
  top: 0;
  display: block;
  background-color: #000000;
}

.catalog-filter-group-title {
  font-weight: 700;
  font-size: 18px;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 20px;
}

/*Range*/
.range-scale {
  position: relative;
  height: 2px;
  background-color: #DCDCDC;
  margin-top: 10px;
  margin-bottom: 11px;
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #000000;
  background: #EBEBEB;
}

.range-toggle:hover {
  opacity: 0.5;
}

.range-toggle:active {
  background: #000000;
  opacity: 1;
}

.range-toggle:focus-visible::after {
  outline: 2px solid #AF4FFF;
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  display: block;
  top: -3px;
  left: -3px;
}

.toggle-max {
  top: -8px;
  right: -16px;
}

.toggle-min {
  top: -8px;
  left: -15px;
}

.range-wrapper-inputs {
  display: flex;
}

.catalog-filter-label {
  display: flex;
  color: rgba(0, 0, 0, .3);
  margin-left: -8px;
}

.range-input {
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
  outline: none;
  color: rgba(0, 0, 0, .3);
  position: relative;
}

.range-input.min {
  width: 30px;
  padding-right: 68px;
}

.range-input.min:focus-visible + .range-input-min-mark::before {
  outline: 2px solid rgba(175, 79, 255, 1.0);
  position: absolute;
  min-width: 54px;
  height: 18px;
  content: "";
  display: block;
  left: -8px;
  bottom: 1px;
}

.range-input.max:focus-visible + .range-input-max-mark::before {
  outline: 2px solid rgba(175, 79, 255, 1.0);
  position: absolute;
  width: 94px;
  height: 18px;
  content: "";
  display: block;
  right: 38px;
  bottom: 1px;
}

.range-input.max {
  width: 71px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Control */
.control {
  position: relative;
  display: block;
}

/* Mark */
.control-mark {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #CCCCCC;
  border-radius: 3px;
}

.control-input[type="checkbox"]:checked + .control-mark {
  border: 2px solid #000000;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  content: "";
  background: url("../images/form-tick.svg") no-repeat center;
  width: 10px;
  height: 10px;
  padding: 5px;
  display: block;
}

/* Radio */
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  width: 8px;
  height: 8px;
  background: #000000 center;
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  left: 6px;
  right: 6px;
  top: 6px;
  bottom: 6px;
}

/*Focus*/
.control-input:focus-visible + .control-mark::after {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
  position: absolute;
  left: -2px;
  top: -2px;
  width: 24px;
  height: 24px;
  content: "";
}

/*Hover*/

.control-input:not(:disabled):hover ~ .control-label {
  opacity: 0.6;
}

/*Active*/
.control:active {
  opacity: 0.3;
}

/*Disabled*/
.control-input:disabled + .control-mark::before {
  opacity: 0.1;
}

.control-input:disabled ~ .control-label {
  opacity: 0.1;
}

.control-input[type="radio"]:checked + .control-mark {
  border: 2px solid #000000;
}

.control-label {
  padding-left: 36px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 17px;
}

.catalog-filter-item.bluetooth:not(:last-child) {
  margin-bottom: 20px;
}


.button-show {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 800;
  text-decoration: none;
  min-width: 160px;
  text-align: center;
  display: block;
  padding: 10px;
  margin: 0;
  margin-top: 35px;
  z-index: 0;
  outline: none;
  border: none;
}

/*Sorting*/

.sort-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.select-control {
  color: #000000;
  font-family: "Rubik", sans-serif;
  appearance: none;
  min-width: 141px;
  background-image: url("../images/arrow-down.svg");
  background-position-y: center;
  background-position: right 12px;
  background-repeat: no-repeat;
  font-size: 18px;
  line-height: 30px;
  border: none;
  background-color: #F0F0F0;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:active {
  opacity: 0.3;
}

.select-control:focus-visible {
  opacity: 1;
  outline: 2px solid #AF4FFF;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  padding-left: 40px;
  padding: 25px;
  align-items: center;
}

.sorting-button-container {
  width: 60px;
  height: 30px;
  display: flex;
}

.sort-button {
  width: 30px;
  height: 30px;
  border: none;
}

.sort-up {
  background: url("../images/triangle-up.svg") no-repeat center;
}

.sort-up:focus-visible,
.sort-down:focus-visible {
  opacity: 1;
  outline: 2px solid #AF4FFF;
}

.sort-up:hover,
.sort-down:hover {
  opacity: 0.6;
}

.sort-up:active,
.sort-down:active {
  opacity: 0.6;
}

.sort-down {
  background: url("../images/triangle-down.svg") no-repeat center;
}

/*Product-list*/
.product-list {
  padding: 0;
  padding-top: 70px;
  padding-left: 40px;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 40px;
}

.product-list-container {
  background-color: rgba(255, 255, 255);
  padding-bottom: 78px;
}

.product-card-link {
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  line-height: 20px;
  display: block;
  box-sizing: border-box;
}

.product-card-title-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.product-card-title {
  max-width: 226px;
  margin: 0;
}

.product-card-image {
  display: block;
}

.product-card-link:active .product-card-title{
  opacity: 0.3;
}

.product-card-link:hover .product-card-title{
  opacity: 0.6;
}

.product-card-price {
  font-weight: 400;
  display: inline-block;
  align-self: center;
}

.product-card-link:hover .image-wrap::before,
.product-card-link:active .image-wrap::before {
  position: absolute;
  content: "Подробнее";
  background: #FFE17F;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 210px;
  height: 8px;
  left: 50%;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 50%;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  z-index: 2;
  box-shadow: 0 0 0 300px rgba(240, 240, 240, 0.8);
}

.image-wrap {
  overflow: hidden;
  position: relative;
}

.product-card-link:focus-visible {
  outline: 2px solid #AF4FFF;
  display: block;
}

.products-new + .image-wrap::after {
  position: absolute;
  background: url("../images/new-icon.svg");
  width: 60px;
  height: 60px;
  content: "";
  top: 27px;
  right: 27px;
  display: block;
}

/*Pagination*/

.pagination-load-button {
  border: 3px solid #E5E5E5;
  display: inline-block;
  width: 760px;
  margin: 44px 39px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  letter-spacing: 0.2em;
  cursor: pointer;
}

.pagination-load-button:hover {
  border: 3px solid #000000;
}

.pagination-load-button:active {
  outline: none;
  border: 3px solid rgba(0, 0, 0, .3);
  color: rgba(0, 0, 0, .3);
}

.pagination-load-button:focus-within {
  outline-offset: 3px;
  outline: 2px solid #AF4FFF;
}

.pagination-load-button:disabled {
  opacity: 0.3;
  border: 3px solid #E5E5E5;
}

.pagination-container {
  display: flex;
  background: #EBEBEB;
  margin-left: 40px;
  margin-right: 40px;

}

.pagination {
  display: flex;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.pagination-link {
  text-decoration: none;
  color: rgba(68, 68, 68);
  display: block;
}


/*Pagination-direction*/
.pagination-direction {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  align-self: center;
  opacity: 1;
  padding: 25px;
  font-size: 18px;
  background: #EBEBEB;
}

.pagination-direction.current {
  color: rgba(0, 0, 0, .3);
}

.pagination-direction:not(.current):active {
  color: rgba(0, 0, 0, 0.3);
  background: #DCDCDC;
}

.pagination-direction:not(.current):focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
  color: rgba(0, 0, 0, 1);
  background: #F0F0F0;
}

.pagination-direction:not(.current):hover {
  background: #DCDCDC;
  color: rgba(0, 0, 0, 1);
}

/*Pagination-number*/
.pagination-number {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 17px;
  color: rgba(68, 68, 68, .3);
}

.pagination-number:not(.current):hover {
  color: rgba(68, 68, 68, 1.0);
}

.pagination-number::not(.current):active {
  color: rgba(68, 68, 68, .1);
}

.pagination-number:not(.current):focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
  color: rgba(68, 68, 68, .3);
}

.pagination-number.current {
  color: rgba(68, 68, 68, .6);
}

/*Popover*/
.popover {
  position: absolute;
  right: -17px;
  z-index: 3;
  box-sizing: border-box;
  width: 320px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #FFFFFF;
  background-color: #000000;
  min-height: 201px;
  line-height: 20px;
  display: none;
}

.popover-open {
  display: block;
}

.navigation-item-basket:focus-within .popover {
  display: block;
}

.popover:before {
  content: "";
  top: -6px;
  left: 147px;
  width: 14px;
  height: 6px;
  position: absolute;
  background: url("../images/popover-triangle.svg");
}

.popover-content {
  height: 100%;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
}

.cart-item-title {
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 23px;
  font: inherit;
}

.cart-items-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cart-item-close-button {
  width: 10px;
  height: 10px;
  background: url("../images/popover-cross.svg") no-repeat;
  box-sizing: border-box;
  border: none;
  padding: 0;
}

.cart-item + .cart-item {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.cart-item-link {
  width: 250px;
  display: flex;
  z-index: 3;
  color: #FFFFFF;
  text-decoration: none;
}

/*Focus*/
.cart-item-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

/*Hover*/
.cart-item-link:hover {
  opacity: 0.6;
}

/*Active*/
.category-item-link:active {
  opacity: 0.3;
}

/*Focus*/
.cart-item-close-button:focus-visible {
  outline: 2px solid #AF4FFF;
  offset: 2px;
}

/*Hover*/
.cart-item-close-button:hover {
  opacity: 0.6;
}

/*Active*/
.cart-item-close-button:active {
  opacity: 0.3;
}

/*Disabled*/
.popover-open-button:disabled {
  color: rgba(0, 0, 0, 0.3);
}

/*Focus*/
.popover-open-button:focus-visible {
  outline: 2px solid #AF4FFF;
}

/*Hover*/
.popover-open-button:hover {
  background: #FFE17F;
}

/*Active*/
.popover-open-button:active {
  color: rgba(0, 0, 0, 0.3);
  background: #FFE17F;
}

.popover-products-wrapper {
  display: flex;
  font-size: 16px;
  margin: 0;
  margin-top: 23px;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
  background: #1A1A1A;
  align-items: center;
}

.popover-price {
  margin: 0;
  padding: 0;
}

.popover-open-button {
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  width: 280px;
  border: none;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  background: #FFFFFF;
}

/*Modal*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  overflow-y: auto;
}

.modal {
  margin: auto;
  padding: 72px 80px;
  background-color: #ffffff;
}

.modal-order {
  width: 760px;
}

.modal-content {
  position: relative;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 12px;
  right: 0;
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border: none;
  background-image: url("../images/modal/modal-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

/*Hover*/
.modal-close-button:hover {
  opacity: 0.6;
}

/*Active*/
.modal-close-button:active {
  opacity: 0.3;
}

/*Focus*/
.modal-close-button:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.modal-title {
  margin: 0;
  margin-bottom: 24px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.order-form {
  display: grid;
  grid-template-columns: 360px 140px 180px;
  column-gap: 40px;
  row-gap: 42px;
}

.order-form-label.name {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
}

.order-form-label.e-mail {
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
}

.order-form-label.desc {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
}

.quantity-wrapper {
  grid-column: 3/4;
  line-height: 20px;
  position: relative;
}

.order-form-button {
  grid-column: 1/4;
}

.plus-minus-wrapper {
  display: flex;
  margin-top: 14px;
}

/*Invalid*/
.order-form-field.quantity:invalid {
  border: 2px solid #FF3D3D;
}

.order-form-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  position: relative;
}

.order-form-label.name::after {
  position: absolute;
  content: "";
  display: block;
  width: 15px;
  height: 12px;
  background: url("../images/modal/modal-person.svg") no-repeat center;
  top: 57px;
  right: 24px;
}

.order-form-label.e-mail::after {
  position: absolute;
  content: "";
  display: block;
  width: 15px;
  height: 12px;
  background: url("../images/modal/modal-mail.svg") no-repeat center;
  top: 57px;
  right: 24px;
}

.order-form-field.e-mail::placeholder {
  color: #000000;
}

/*Invalid*/
.order-form-field.e-mail:invalid {
  outline: 2px solid #FF3D3D;
}

.order-form-field.e-mail:invalid + .e-mail-comment {
  color: #FF3D3D;
}

/*Disabled*/
.order-form-field:disabled {
  background: #F0F0F0;
  opacity: 0.3;
}

/*Focus*/
.order-form-field.e-mail:focus-visible,
.order-form-field.name:focus-visible,
.order-form-field.desc:focus-visible {
  outline: 2px solid #AF4FFF;
}

/*Hover*/
.order-form-field.e-mail:hover,
.order-form-field.name:hover,
.order-form-field.desc:hover {
  background: #DCDCDC;
}

.field-comment {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.order-form-field {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 20px;
  background: #F0F0F0;
  border: none;
  margin-top: 14px;
}

.order-form-button {
  padding: 20px;
  width: 60px;
  height: 60px;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

.order-form-field.quantity {
  width: 60px;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.button-order {
  margin-top: 42px;
  border: 0;
  background: #FFFFFF;
  z-index: 0;
}

.modal-container-close {
  display: none;
}

/*Modal tooltip*/

.modal-tooltip {
  position: absolute;
  margin-top: -3px;
  margin-right: 8px;
  left: 120px;
}

.modal-tooltip-toggle {
  border: none;
  background-color: #FFE17F;
  border-radius: 50%;
  padding: 7px;
  margin: 0;
  display: block;
  width: 26px;
  height: 26px;
}

.modal-tooltip-icon {
  width: 100%;
  height: 100%;
  color: #242424;
  display: block;
}

.modal-tooltip-toggle:hover {
  color: #FFE17F;
}

.modal-tooltip-text {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: none;
  padding: 19px 17px 19px 19px;
  width: 200px;
  position: absolute;
  top: 34px;
  margin-bottom: 6px;
  left: -19px;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.modal-tooltip-toggle:hover + .modal-tooltip-text,
.modal-tooltip-toggle:focus-visible + .modal-tooltip-text {
  display: block;
}

.modal-tooltip-text:after {
  content: '';
  background-image: url("../images/modal/modal-info-arrow.svg");
  width: 14px;
  height: 6px;
  position: absolute;
  bottom: 100%;
  right: 0;
  left: 65px;
  margin-left: auto;
  margin-right: auto;
}

.modal-open {
  height: 100vh;
  overflow-y: hidden;
}
